body {
  text-align: center;

  background-color: beige;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
}

.home-link {
  border: 1px dotted blue;
  background: white;
  width: 75px;
}

.icons {
  height: 2em;
  width: 2rem;
  padding-right: 1.5em;
}

.coin__list {
  list-style: none;
  margin: 25px 50px 75px 30px;
}

li.main-list {
  padding: 25px;

  border-bottom: solid 3px black;

  font-size: larger;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}